{% extends "base.html" %}

{% load form_display %}

{% block h1 %}Edit Tech Requirement{% endblock %}
{% block title %}Edit Tech Requirement{% endblock %}

{% block subbreadcrumbs %}
    <li>&gt; <a href="{% url grades.views.course_info course_slug=course.slug %}">{{ course.name }}</a></li>
    <li>&gt; <a href="{% url grades.views.course_config course_slug=course.slug %}">Setup</a></li>
    <li>&gt; <a href="{% url techreq.views.manage_techreqs course_slug=course.slug %}">Manage Tech Requirements</a></li>
    <li>&gt; Edit Tech Requirement</li>
{% endblock %}

{% block content %}

<div id="form_container">
    {% if form.non_field_errors %}
    <div class="errorindicator">
        <img src="{{MEDIA_URL}}/icons/exclamation.png" alt="exclamation" />
        {{ form.non_field_errors }}
    </div>
    {% endif %}
    <form action="{% url techreq.views.edit_techreq course_slug=course.slug techreq_id=techreq.id %}" method="post">{% csrf_token %}
        <fieldset>
            <legend>Edit Tech Requirement</legend>
            {{form|as_dl}}
            <input type="hidden" name="action" value="edit" />
            <input class="submit" type="submit" value="Edit Tech Requirement" />
        </fieldset>
    </form>
</div>
{% endblock %}