{% extends "base.html" %}

{% load form_display %}

{% block h1 %}Satisfy Tech Requirement{% endblock %}
{% block title %}Satisfy Tech Requirement{% endblock %}

{% block headextra %}<script type="text/javascript">
//<![CDATA[
    $(document).ready(function() {
    $('#techresource_table').dataTable({
                "bPaginate": false,
                "bJQueryUI": true,
                "aaSorting": [[0, "asc"]],
                "aoColumns": [
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
        ]
    });

    });

//]]></script>
{% endblock %}

{% block subbreadcrumbs %}
<li>&gt; <a href="{% url techreq.views.manage_techresources %}">Manage Tech Resources</a></li>
<li>&gt; <a href="{% url techreq.views.techstaff_manage_techreqs %}">Satisfy Tech Requirements</a></li>
<li>&gt; Satisfy Tech Requirement</li>
{% endblock %}


{% block content %}

<h3>Tech Requirement to be satisfied:</h3>
<div class="table_container">
    <table class="info">
        <tr>
            <th>Name</th>
            <td>{{ techreq.name }}</td>
        </tr>
        <tr>
            <th>Version</th>
            <td>{{ techreq.version|default:"" }}</td>
        </tr>
        <tr>
            <th>Quantity</th>
            <td>{{ techreq.quantity|default:"" }}</td>
        </tr>
        <tr>
            <th>Location</th>
            <td>{{ techreq.location }}</td>
        </tr>
        <tr>
            <th>Notes</th>
            <td>{{ techreq.notes|default:"" }}</td>
        </tr>
    </table>
</div>

<h3>Select the resource to satisfy this requirement:</h3>
<div class="datatable_container">
    {% if techresources %}
        <table class="display" id="techresource_table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Unit</th>
                    <th scope="col">Version</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Location</th>
                    <th scope="col">Notes</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            {% for techresource in techresources %}
                <tr>
                    <td>{{ techresource.name }}</td>
                    <td>{{ techresource.unit }}</td>
                    <td>{{ techresource.version|default:"" }}</td>
                    <td>{{ techresource.quantity|default:"" }}</td>
                    <td>{{ techresource.location }}</td>
                    <td>{{ techresource.notes|default:"" }}</td>
                    <td class="miniaction">
                        <form action="{% url techreq.views.satisfy_techreq techreq.id %}" method="post">
                            {% csrf_token %}
                            <p>
                                <input type="hidden" name="action" value="satisfy" />
                                <input type="hidden" name="techresource_id" value="{{ techresource.id }}" />
                                <input type="submit" value="Select" />
                            </p>
                        </form>
                    </td>
                </tr>
              {% endfor %}
        </table>
    {% else %}
            <p>There are currently no tech resources.</p>
    {% endif %}
</div>

{% endblock %}