{% extends "base.html" %}

{% load form_display %}

{% block h1 %}Satisfy Tech Requirements{% endblock %}
{% block title %}Satisfy Tech Requirements{% endblock %}

{% block headextra %}<script type="text/javascript">
//<![CDATA[
    $(document).ready(function() {
    $('#techreqs_table').dataTable({
                "bPaginate": false,
                "bJQueryUI": true,
                "aaSorting": [[0, "asc"]],
                "aoColumns": [
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
        ]
    });

    $('select#techreq_semester_selector').change(function() {
        window.location = "{% url techreq.views.techstaff_manage_techreqs %}" + $('select#techreq_semester_selector').val() + "/" + "{{ options }}";
    });

    });

    

//]]></script>
{% endblock %}

{% block subbreadcrumbs %}
<li>&gt; <a href="{% url techreq.views.manage_techresources %}">Manage Tech Resources</a></li>
<li>&gt; Satisfy Tech Requirements</li>
{% endblock %}

{% block actions %}{% endblock %}

{% block content %}

<div>Semester:
    <select id="techreq_semester_selector">
        <option value="all">All</option>
        {% for sem in semesters %}
            <option value="{{ sem.name }}" {% if semester == sem.name %}selected="selected"{% endif %}>{{ sem.label }}</option>
        {% endfor %}
    </select>
    Options:
    {% if options = 'all' or options != 'unsatisfied' %}
        <strong>All</strong> |
    {% else %}
        <a href="{% url techreq.views.techstaff_manage_techreqs semester=semester options='all' %}">All</a> | 
    {% endif %}
    {% if options = 'unsatisfied' %}
        <strong>Unsatisfied</strong>
    {% else %}
        <a href="{% url techreq.views.techstaff_manage_techreqs semester=semester options='unsatisfied' %}">Unsatisfied</a>
    {% endif %}
</div>

<div class="datatable_container">
    {% if techreqs %}
        <table class="display" id="techreqs_table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Course</th>
                    <th scope="col">Version</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Location</th>
                    <th scope="col">Notes</th>
                    <th scope="col">Satisfied</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            {% for techreq in techreqs %}
                <tr>
                    <td>{{ techreq.name }}</td>
                    <td>{{ techreq.course_offering }}</td>
                    <td>{{ techreq.version|default:"" }}</td>
                    <td>{{ techreq.quantity|default:"" }}</td>
                    <td>{{ techreq.location }}</td>
                    <td>{{ techreq.notes|default:"" }}</td>
                    <td>
                        {% if techreq.satisfied_by %}
                            <a href="{% url techreq.views.techstaff_techreq_satisfaction techreq_id=techreq.id %}">{{ techreq.satisfied_by }}</a>
                        {% else %}
                            No
                        {% endif %}
                    </td>
                    <td class="miniaction">
                        {% if techreq.satisfied_by %}
                            <form action="{% url techreq.views.techstaff_manage_techreqs %}" method="post">
                                {% csrf_token %}
                                <p>
                                    <input type="hidden" name="action" value="remove-satisfaction" />
                                    <input type="hidden" name="techreq_id" value="{{ techreq.id }}" />
                                    <input type="submit" value="Remove Satisfaction" />
                                </p>
                            </form>
                        {% else %}
                            <a href="{% url techreq.views.satisfy_techreq techreq_id=techreq.id %}">Satisfy</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>There are currently no tech requirements.</p>
    {% endif %}
</div>
{% endblock %}