{% extends "base.html" %}

{% load form_display %}

{% block h1 %}Satisfy Tech Requirements{% endblock %}
{% block title %}Satisfy Tech Requirements{% endblock %}

{% block headextra %}<script type="text/javascript">
//<![CDATA[
    $(document).ready(function() {
    $('#techreqs_table').dataTable({
                "bPaginate": false,
                "bJQueryUI": true,
                "aaSorting": [[0, "asc"]],
                "aoColumns": [
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
        ]
    });

    });

//]]></script>
{% endblock %}

{% block subbreadcrumbs %}<li>&gt; <a href="{% url techreq.views.manage_techresources %}">Manage Tech Resources</a></li>{% endblock %}

{% block actions %}{% endblock %}

{% block content %}

<div>Filter Type:
    {% if filter_type = 'all' %}
        <strong>All</strong> |
    {% else %}
        <a href="{% url techreq.views.techstaff_manage_techreqs filter_type='all' %}">All</a> | 
    {% endif %}
    {% if filter_type = 'unsatisfied' %}
        <strong>Unsatisfied</strong> |
    {% else %}
        <a href="{% url techreq.views.techstaff_manage_techreqs filter_type='unsatisfied' %}">Unsatisfied</a> | 
    {% endif %}
    {% if filter_type = 'current' %}
        <strong>Current Semester</strong>
    {% else %}
        <a href="{% url techreq.views.techstaff_manage_techreqs filter_type='current' %}">Current Semester</a>
    {% endif %}
</div>

<div class="datatable_container">
    {% if techreqs %}
        <table class="display" id="techreqs_table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Version</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Location</th>
                    <th scope="col">Notes</th>
                    <th scope="col">Satisfied</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            {% for techreq in techreqs %}
                <tr>
                    <td>{{ techreq.name }}</td>
                    <td>{{ techreq.version|default:"" }}</td>
                    <td>{{ techreq.quantity|default:"" }}</td>
                    <td>{{ techreq.location }}</td>
                    <td>{{ techreq.notes|default:"" }}</td>
                    <td>{{ techreq.satisfied_by|default:"No" }}</td>
                    <td class="miniaction">
                        {% if techreq.satisfied_by %}
                            <form action="{% url techreq.views.techstaff_manage_techreqs %}" method="post">
                                {% csrf_token %}
                                <p>
                                    <input type="hidden" name="action" value="remove-satisfaction" />
                                    <input type="hidden" name="techreq_id" value="{{ techreq.id }}" />
                                    <input type="submit" value="Remove Satisfaction" />
                                </p>
                            </form>
                        {% else %}
                            <a href="{% url techreq.views.satisfy_techreq techreq_id=techreq.id %}">Satisfy</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>There are currently no tech requirements.</p>
    {% endif %}
</div>
{% endblock %}