{% extends "base.html" %}
{% load form_display %}
{% load staticfiles %}


{% block title %}Edit Study Leave Application{% endblock %}
{% block h1 %}Edit Study Leave Application{% endblock %}

{% block subbreadcrumbs %}
    <li><a href="{% url "faculty:study_leave_index" %}">Study Leave</a></li>
    <li>Edit Study Leave Application</li>
{% endblock %}

{% block content %}
<form action="{% url "faculty:edit_study_leave_application" application_slug=application.slug %}" method="post">
    {% csrf_token %}
    {{ form|as_dl }}
    <p>
        <input type="submit" class="submit" value="Submit">
    </p>
</form>
{% endblock %}