{% extends "base.html" %}
{% load form_display %}
{% load staticfiles %}


{% block title %}New Study Leave Application Semester Activity{% endblock %}
{% block h1 %}New Study Leave Application Semester Activity{% endblock %}

{% block subbreadcrumbs %}
<li>New Study Leave Application Semester Activity</li>
{% endblock %}

{% block content %}
<form action="{% url "faculty:new_study_leave_application_semester_activity" application_slug=application.slug %}" method="post">
    {% csrf_token %}
    {{ formset.management_form }}
    <table>
        <thead>
            <tr>
                <th>Semester</th>
                <th>Activity</th>
            </tr>
        </thead>
        <tbody>
        {% for form in formset %}
            {{ form.id }}
            <tr>
                <td style="width: 200px">{{ form.semester }}</td>
                <td>{{ form.activity }}</td>
            </tr>
            <tr>
                <td>{{ form.semester.errors }}</td>
                <td>{{ form.activity.errors }}</td>
            </tr>
        {% endfor %}
        </tbody>
</table>
    <p>
        <input type="submit" class="submit" value="Submit">
    </p>
</form>
{% endblock %}