{% extends "base.html" %}
{% load form_display %}
{% load staticfiles %}


{% block title %}New Study Leave Application Semester Activity{% endblock %}
{% block h1 %}New Study Leave Application Semester Activity{% endblock %}

{% block subbreadcrumbs %}
<li>New Study Leave Application Semester Activity</li>
{% endblock %}

{% block content %}
<form action="{% url "faculty:new_study_leave_application_semester_activity" application_slug=application.slug %}" method="post">
    {% csrf_token %}
    {{ formset.management_form }}
    {% for form in formset %}
        {{ form|as_dl}}
    {% endfor %}
    <p>
        <input type="submit" class="submit" value="Submit">
    </p>
</form>
{% endblock %}