{% extends "base-wide.html" %}
{% load static %}{% load compress %}

{% block title %}{{ offering.subject }} {{ offering.number }} Discussion{% endblock %}
{% block h1 %}{{ offering.subject }} {{ offering.number }} Discussion{% endblock %}

{% block headextra %}
<script nonce="{{ CSP_NONCE }}">
var discussion_api_url = "{% url 'api:DiscussionTopics' course_slug=offering.slug %}";
var discussion_base_url = "{% url 'offering:discussion:discussion_index' course_slug=offering.slug %}";
</script>
{% include 'pages/markup_view_head.html' %}
{% compress js %}
<script src="{% static 'vue/dist/vue.min.js' %}"></script>
<script src="{% static 'vue-resource/dist/vue-resource.min.js' %}"></script>
<script src="{% static 'vue-router/dist/vue-router.min.js' %}"></script>
<script src="{% static 'js/discussion.js' %}"></script>
{% endcompress %}
<link rel="stylesheet" href="{% static 'style/discussion.css' %}" />
{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url 'offering:course_info' course_slug=offering.slug %}">{{ offering.name }}</a></li>
<li>Discussion</li>
{% endblock %}

{% block content %}

<div id="discussion-container">{% verbatim vue %}
    <discussion-topic-list v-bind:topics="topics"></discussion-topic-list>
    <discussion-topic-main v-bind:topic="current_topic" v-if="current_topic !== null"></discussion-topic-main>
    <discussion-topic-replies v-bind:replies="current_replies"></discussion-topic-replies>
{% endverbatim vue %}</div>

{% endblock %}