{% extends "base.html" %}
{% load form_display %}
{% block title %}Add Peer Review Component{% endblock %}
{% block h1 %}{% endblock %}

{% block subbreadcrumbs %}
    <li>&gt; Add Peer Review Component</li>
{% endblock %}

{% block content %}
    <div class="form_container">
            <fieldset>
            <legend>Add Peer Review Component</legend>
            {{ form|as_dl }}
            <p><input type="submit" class="submit" value="Submit" /></p>
            </fieldset>
        </form>
    </div>
{% endblock %}