{% extends "base.html" %}
{% load form_display %}
{% load course_display %}
{% block title %}Add Peer Review Component{% endblock %}
{% block h1 %}{% endblock %}

{% block headextra %}
<script type="text/javascript">
function add_more() {
        var count = 0;
        $('#review_components tr.hidden').each(function() {
            if (count < 1) {
                count += 1;
                $(this).removeClass('hidden');
            }
        })
        if ( count < 1 ) {
            $("#button_more").addClass("hidden");
        }
        return false;
    }

$(document).ready(function() {
    $("#id_due_date_0").datepicker({ buttonImageOnly: true, buttonImage: '{{MEDIA_URL}}images/grades/calendar.png',
                                changeMonth: true, changeYear: true,
                                dateFormat: 'yy-mm-dd', showOn: 'button'});
    $("#button_more").removeClass("hidden");
    $("#button_more").click(add_more);
    add_more()
});
</script>
{% endblock %}

{% block subbreadcrumbs %}
    <li><a href="{% url grades.views.course_info course_slug=course.slug %}">&gt; {{course.name}}</a></li>
    <li><a href="{% url grades.views.activity_info course_slug=course.slug activity_slug=activity.slug %}">&gt; {{activity.name}}</a></li>
    <li>&gt; Add Peer Review Component</li>
{% endblock %}

{% block content %}
    <div class="form_container">
        <form action="{% url peerreview.views.add_peer_review_component course_slug=course.slug activity_slug=activity.slug%}" enctype="multipart/form-data" method="post">{% csrf_token %}
            <fieldset>
            <legend>Add Peer Review Component</legend>
            {{ form|as_dl }}
            </fieldset>
            <br></br>
            <div class="datatable_container"> 
                {{ formset.management_form }} 
                <table class="display" id="review_components">
      	        <thead class="form_head">
                    <tr>
                        <th scope="col" width="30%">Title</th>
         	            <th scope="col" width="30%">Description</th>
         	            <th scope="col" width="30%">Max Mark</th>
         	            <th scope="col" width="10%">Delete?</th>
                    </tr>         
                </thead>  
                <tbody>
                    {% for form in formset.forms|slice:"-25:" %}
                        {% if form.title.value %}
                            {{ form|display_form_as_row }}
                        {% else %}
                            {{ form|display_form_as_row:"hidden" }}
                        {% endif %}
                    {% endfor %}
                </tbody>
                </table>
                <p><input type="submit" class="submit" value="Submit" /></p>
                <p><input class="submit hidden" type="submit" value="Add more" id="button_more" /></p> 
            </div>
            
        </form>
    </div>
{% endblock %}