{% extends "base.html" %}
{% load form_display %}
{% load course_display %}
{% block title %}Edit Peer Review Component{% endblock %}
{% block h1 %}{% endblock %}

{% block headextra %}
<script type="text/javascript">
function add_more() {
        var count = 0;
        $('#review_components tr.hidden').each(function() {
            if (count < 1) {
                count += 1;
                $(this).removeClass('hidden');
            }
        })
        if ( count < 1 ) {
            $("#button_more").addClass("hidden");
        }
        return false;
    }
$(document).ready(function() {
    $("#id_due_date_0").datepicker({ buttonImageOnly: true, buttonImage: '{{MEDIA_URL}}images/grades/calendar.png',
                                changeMonth: true, changeYear: true,
                                dateFormat: 'yy-mm-dd', showOn: 'button'});
    $("#button_more").removeClass("hidden");
    $("#button_more").click(add_more);
});
</script>
{% endblock %}

{% block subbreadcrumbs %}
    <li><a href="{% url grades.views.course_info course_slug=course.slug %}">&gt; {{course.name}}</a></li>
    <li><a href="{% url grades.views.activity_info course_slug=course.slug activity_slug=activity.slug %}">&gt; {{activity.name}}</a></li>
    <li>&gt; <a href="{% url peerreview.views.peer_review_info_staff course_slug=course.slug activity_slug=activity.slug %}">Peer Review</a></li>
    <li>&gt; Edit</li>
{% endblock %}

{% block content %}
    <ul id="form_nav">
        <li class="current"><a href="{% url peerreview.views.edit_peer_review_component course_slug=course.slug activity_slug=activity.slug %}">Edit Components Content</a></li>  
        <li><a href="{% url peerreview.views.manage_component_positions course_slug=course.slug activity_slug=activity.slug %}">Edit Components Order</a></li>  
    </ul>
    <div class="form_container">
        <form action="{% url peerreview.views.edit_peer_review_component course_slug=course.slug activity_slug=activity.slug%}" enctype="multipart/form-data" method="post">{% csrf_token %}
            <fieldset>
            <legend>Edit Peer Review Component</legend>
            {{ form|as_dl }}
            </fieldset>
            <div class="datatable_container"> 
                {{ formset.management_form }} 
                <table class="display" id="review_components">
      	        <thead class="form_head">
                    <tr>
                        <th scope="col" width="30%">Title</th>
         	            <th scope="col" width="30%">Description</th>
         	            <th scope="col" width="30%">Max Mark</th> 
         	            <th scope="col" width="10%">Delete?</th>        
                    </tr>         
                </thead>  
                <tbody>
                    {% for form in formset.forms|slice:"-25:" %}
                        {% if form.title.value %}
                            <tr>
                                <td>{{ form.title }}</td>
                                <td>{{ form.description }}</td>
                                <td>{{ form.max_mark }}</td>
                                <td>{{ form.deleted }}</td>
                                <td>{{ form.id }}</td>
                            </tr>
                        {% else %}
                            {{ form|display_form_as_row:"hidden" }}
                        {% endif %}
                    {% endfor %}
                </tbody>
                </table>
                <p><input type="submit" class="submit" value="Submit" /></p>
                <p><input class="submit hidden" type="submit" value="Add more" id="button_more" /></p>
            </div>
            
        </form>
    </div>
{% endblock %}