{% extends "base.html" %}
{% load form_display %}
{% block title %}Edit Peer Review Component{% endblock %}
{% block h1 %}{% endblock %}

{% block headextra %}
<script type="text/javascript">
$(document).ready(function() {
    $("#id_due_date_0").datepicker({ buttonImageOnly: true, buttonImage: '{{MEDIA_URL}}images/grades/calendar.png',
                                changeMonth: true, changeYear: true,
                                dateFormat: 'yy-mm-dd', showOn: 'button'});
});
</script>
{% endblock %}

{% block subbreadcrumbs %}
    <li><a href="{% url grades.views.course_info course_slug=course.slug %}">&gt; {{course.name}}</a></li>
    <li><a href="{% url grades.views.activity_info course_slug=course.slug activity_slug=activity.slug %}">&gt; {{activity.name}}</a></li>
    <li>&gt; <a href="{% url peerreview.views.peer_review_info_staff course_slug=course.slug activity_slug=activity.slug %}">Peer Review</a></li>
    <li>&gt; Edit</li>
{% endblock %}

{% block content %}
    <div class="form_container">
        <form action="{% url peerreview.views.add_peer_review_component course_slug=course.slug activity_slug=activity.slug%}" enctype="multipart/form-data" method="post">{% csrf_token %}
            <fieldset>
            <legend>Edit Peer Review Component</legend>
            {{ form|as_dl }}
            <p><input type="submit" class="submit" value="Submit" /></p>
            </fieldset>
        </form>
    </div>
{% endblock %}