{% extends "grades/base.html" %}
{% load course_display %}

{% block title %}{{ activity.name }} Peer Review Information{% endblock %}
{% block h1 %}{{ activity.name }} Peer Review Information{% endblock %}

{% block grades_headextra %}
<script type="text/javascript">
    $(document).ready(function() {
	addLinkClickStyleClass('a.redbutton', 'redbutton_onclick');
	oTable = $('#student_grades').dataTable({
                "bPaginate": false,
		"bJQueryUI": true,
		"aaSorting": [[0, "asc"]],
		"aoColumns": [
		    null,
		    null,
		    null,
		    { "sType": "by-nolink" },
		    {% if activity.group %}null,{% endif %}
		    {% if not activity.is_numeric and activity.is_calculated %}{ "sType": "by-mark" },{% endif %}
		    {% if activity.is_numeric %}{ "sType": "by-nolinkmark" }{% else %}{ "sType": "by-nolinkletter" }{% endif %}
		    {% if not activity.is_calculated and activity.is_numeric %},{ "sType": "by-marklink" }{% endif %}
		    {% if not activity.is_calculated %},{ "sType": "by-anything" }{% endif %}
		    {% if activity.is_calculated and activity.is_numeric %},{ "bSortable": false }{% endif %}
		]
	});
    });
</script>
{% endblock %}

{% block subbreadcrumbs %}
    <li><a href="{% url grades.views.course_info course_slug=course.slug %}">&gt; {{course.name}}</a></li>
    <li><a href="{% url grades.views.activity_info course_slug=course.slug activity_slug=activity.slug %}">&gt; {{activity.name}}</a></li>
    <li>&gt; Configure Peer Review </li>
{% endblock %}
{% block actions %}
<div id="actions">
    <h2 class="heading">Actions</h2>
    <ul>
        <li><a href="{% url peerreview.views.edit_peer_review_component course_slug=course.slug, activity_slug=activity.slug%}">Edit Peer Review</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}
<div class="table_container">
    <table class="info">
        <title>Peer Review</title>
        <tbody>
	    <tr>
                <th class="ui-state-default">Activity Name</th>
                <td>{{ activity.name }}</td>
            </tr>
            <tr>
                <th class="ui-state-default">Due date</th>
                <td class="{{activity.due_class}}">{{ peerreview.due_date}}</td>
            </tr>
            <tr>
                <th class="ui-state-default">Reviews Per Student</th>
                <td>{{ peerreview.number_of_reviews }}</td>
            </tr>
        </tbody>
    </table>
</div>

{% block activity_info_grades_block %}

<div class="datatable_container">
	{% if students %}
    <table class="display" id="student_grades">
        <thead>
            <tr>
                <th scope="col">Last name</th>
                <th scope="col">First name</th>
		        <th scope="col">User ID</th>
		        <th scope="col">Student No.</th>
		        <th scope="col">Received</th>
		        <th scope="col">Given</th>
		        <th scope="col">Review</th>
		        <th scope="col">Submission</th>
            </tr>
	</thead>
        <tbody>
	    {% for member in students %}
	    {% with member.person.userid as userid %}
	    {% with grades|hash:userid as grade %}
	    <tr>
		    <td>{{ member.0.person.last_name }}</td>
		    <td>{{ member.0.person.first_with_pref }}</td>
		    <td>{{ member.0.person.userid }}</td>
		    <td><a href="{% url grades.views.student_info course_slug=course.slug userid=member.0.person.userid %}" title="student info">{{ member.0.person.emplid }}</a></td>
            {% if submitted|hash:member.0.person.userid == False and member.1 == 0  %}
                <td> N/A </td>
            {% else %}
                <td>{{ member.1 }}</td>
            {% endif %}
            <td>{{ member.2 }}</td>
            {% if submitted|hash:member.0.person.userid == False and member.1 == 0 and member.2 == 0  %}
                <td></td>
            {% else %}
                <td><a href="{% url peerreview.views.staff_review_student course_slug=course.slug activity_slug=activity.slug userid=member.0.person.userid %}">View</a></td>
            {% endif %}
            {% if subs %}
		        <td class="iconcell">
                {% if submitted|hash:member.0.person.userid %}<a href="{% url submission.views.show_student_submission_staff course_slug=course.slug activity_slug=activity.slug userid=member.0.person.userid %}"><img src="{{MEDIA_URL}}icons/magnifier.png" title="view details" alt="View" /></a>
		            <a href="{% url submission.views.download_file course_slug=course.slug activity_slug=activity.slug userid=member.0.person.userid %}" class="calculate"><img src="{{MEDIA_URL}}icons/page_compressed.png" title="download ZIP" alt="Download" /></a>{% endif %}
		        </td>
		    {% else %}
		        <td class="iconcell disabled"></td>
		    {% endif %}
        </tr>
        {% endwith %}
        {% endwith %}
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p class="empty">No students enrolled.</p>
    {% endif %}</div>
{% endblock %}
{% endblock %}
