{% extends "base.html" %}
{% load form_display %}
{% load course_display %}
{% block title %}Peer Reviews{% endblock %}
{% block h1 %}{% endblock %}

{% block headextra %}
<script type="text/javascript" src="{{MEDIA_URL}}collapsible/js/jQuery.collapsible.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/advisornotes.js"></script>
<script type="text/javascript">
    	//<![CDATA[
    $(document).ready(function() {
        $(".note").collapsible();
        $(".show").trigger('expand');

        $('.hide-show').click(function(){
		    var id = $(this).val();
		    var ch = "no";
		    if($(this).attr("checked")){
		    ch="yes"
		    $("#note-"+id).trigger('collapse_slow');
		    }
	
	        $.post("{% url peerreview.views.staff_review_student course_slug=course.slug activity_slug=activity.slug userid=student.person.userid%}",
			  {'csrfmiddlewaretoken': "{{csrf_token}}", 'note_id': id, 'hide': ch});
	   });
	});
//]]>
</script>
{% endblock %}

{% block subbreadcrumbs %}
    <li><a href="{% url grades.views.course_info course_slug=course.slug %}">&gt; {{course.name}}</a></li>
    <li><a href="{% url grades.views.activity_info course_slug=course.slug activity_slug=activity.slug %}">&gt; {{activity.name}}</a></li>
    <li><a href="{% url peerreview.views.peer_review_info_staff course_slug=course.slug, activity_slug=activity.slug%}">&gt; Configure Peer Review</a></li>
    <li>&gt; {{ student.person.userid }}'s Peer Review</li>
{% endblock %}

{% block content %}
    <div>
    <h1>Reviews For {{student.person.userid}}</h1>
    {% if submitted|hash:student.person.userid %}
		<a href="{% url submission.views.download_file course_slug=course.slug activity_slug=activity.slug userid=student.person.userid %}" class="calculate"> Download Submission <img src="{{MEDIA_URL}}icons/page_compressed.png" title="download ZIP" alt="Download" /></a>
	{% else %}
	    <p>No Submission to Download</p>
	{% endif %}
	{% for section in marking_sections %}
	<h3>Title: {{ section.title }}</h3>
	<h3>Description: {{ section.description }}</h3>
                
	<table class="display" id="reviewed_components">
        <thead class="form_head">
            <tr>
                <th scope="col">Comments: </th>
                <th scope="col">Mark out of {{ section.max_mark }}</th>
                <th scope="col">Reviewer</th>      
            </tr>         
        </thead>  
    {% if received_reviews %}
    <tbody>
        {% for review in combined_reviewed %}
        {% if review.1.textbox %}
            <tr>
                <td>review.1.textbox</td>
                <td>review.1.mark</td>
                <td><a href="{% url peerreview.views.staff_review_student course_slug=course.slug activity_slug=activity.slug userid=review.reviewer.person.userid %}">{{ review.0.reviewer.person.userid }}</a></td>
            
        {% endif %}
        {% endfor %}
    {% else %}
                <td>None</td>
                <td>None</td>
                <td>None</td>
            </tr>
    </tbody>
        <p> This student has not received any reviews for this peer review assignment</p>
    {% endif %}
    </table>
    {% endfor %}
    
    <h1>Reviews By {{student.person.userid}}</h1>
    {% for section in marking_sections %}
	<h3>Title: {{ section.title }}</h3>
	<h3>Description: {{ section.description }}</h3>
                
	<table class="display" id="given_components">
        <thead class="form_head">
            <tr>
                <th scope="col">Comments: </th>
                <th scope="col">Mark out of {{ section.max_mark }}</th>
                <th scope="col">Reviewee</th>      
            </tr>         
        </thead>  
    {% if received_reviews %}
    <tbody>
        {% for review in combined_given %}
        {% if review.1.textbox %}
            <tr>
                <td>review.1.textbox</td>
                <td>review.1.mark</td>
                <td><a href="{% url peerreview.views.staff_review_student course_slug=course.slug activity_slug=activity.slug userid=review.reviewee.person.userid %}">{{ review.0.reviewee.person.userid }}</a></td>
        {% endif %}
        {% endfor %}
    {% else %}
                <td>None</td>
                <td>None</td>
                <td>None</td>
            </tr>
    </tbody>
        <p> This student has not given any reviews for this peer review assignment</p>
    {% endif %}
    </table>
    {% endfor %} 
    </div>
{% endblock %}