{% extends "base.html" %}
{% load form_display %}
{% load course_display %}

{% block title %}{{student_review.identifier}}{% endblock %}
{% block h1 %}{{student_review.identifier}}{% endblock %}

{% block headextra %}
<style type="text/css">
.submission {
    padding-left:1em;
}
.component_comment textarea {
    width: 70%;
}
</style>
{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url grades.views.course_info course_slug=course.slug %}">&gt; {{course.name}}</a></li>
<li><a href="{% url grades.views.activity_info course_slug=course.slug activity_slug=activity.slug %}">&gt; {{activity.name}}</a></li>
<li><a href="{% url peerreview.views.peer_review_info_student course_slug=course.slug activity_slug=activity.slug %}">&gt; Peer Review</a></li>
<li>&gt; {{student_review.identifier}}</li>
{% endblock %}

{% block content%}
<form action="{% url peerreview.views.student_review course_slug=course.slug activity_slug=activity.slug peerreview_slug=student_review.slug %}" enctype="multipart/form-data" method="post">{% csrf_token %}
{% ifequal submitted_pair|length 0 %}
    {# there is no component #}
{% else %}
    {% for pair in submitted_components %}
    <div class="submission">
    <h2>{{pair.0.title}}</h2>

    {% ifequal pair.1 None %}
            <img src="{{MEDIA_URL}}icons/cancel.png" alt="warning" />
            Doesn't seem to be anything here
    {% else %}
            <img src="{{MEDIA_URL}}icons/attach.png" alt="download" /><a href="{% url peerreview.views.download_file course_slug=course.slug activity_slug=activity.slug component_slug=pair.0.slug submission_id=pair.1.submission.id peerreview_slug=student_review.slug %}">Download {% if pair.1.get_filename %}{{ pair.1.get_filename }}{% else %}submission{% endif %}</a>
    {% endifequal %}
    </div>
    {% endfor %}

{% endifequal %}
<div class="submission_component">
    {% for entry in student_mark_data %}        
         <fieldset>
         <legend>{{entry.title}}</legend>
            <ul class="component">
                <li>{{entry.description|linebreaks}}</li>
                {% if entry.max_mark %}
                <li class="component_mark"> 
                    Mark {{entry.form.mark}} Out of {{entry.max_mark}}
                    {% if entry.form.mark.errors %}                    
                    <div class="errortext"><img src="{{MEDIA_URL}}icons/error.png" alt="error"/>&nbsp;{{entry.form.mark.errors.0}}</div>               
                    {% endif %}
                </li>
                {% endif %}
                <li class="component_comment">                               
                    {{entry.form.textbox.label_tag}} {{ entry.form.textbox }}
                    {% if entry.form.textbox.errors %}                  
                    <div class="errortext"><img src="{{MEDIA_URL}}icons/error.png" alt="error"/>&nbsp;{{entry.form.textbox.errors.0}}</div>                                 
                    {% endif %}                                     
                </li>           
            </ul>        
      </fieldset>
     {% endfor %}
</div>
<p><input type="submit" class="submit" value="Submit" /></p>
</fieldset>
</form>

{% endblock %}