{% extends "grades/base.html" %}
{% load grade_student %}

{% block title %}{{activity.name}} Peer Review{% endblock %}
{% block h1 %}{{activity.name}} Peer Review{% endblock %}

{% block grades_headextra %}
<script type="text/javascript">
    $(document).ready(function() {
        $('.review_button').click(function(){
            window.location = this.value + "/"
        })
    });
</script>
<style type="text/css">
.review {
    background:#F2EFE9;
    height: 5em;
    width:50%;
    margin-bottom:1em;
    border-style:solid;
    border-width:1px;
    border-color:#BFBAB0;
}
.identifier {
    margin-left:1em;
    margin-top:0.7em;
    font-size:2em;
}
.review_button {
    color:white;
    background-color:#B5111A;
    border-style:solid;
    border-width:1px;
    border-color:#FFF;
    margin-top:0.5em;
    float:right;
}
</style>
{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url grades.views.course_info course_slug=course.slug %}">&gt; {{course.name}}</a></li>
<li><a href="{% url grades.views.activity_info course_slug=course.slug activity_slug=activity.slug %}">&gt; {{activity.name}}</a></li>
<li>&gt; Peer Review</li>
{% endblock %}

{% block actions %}
{% endblock %}

{% block content %}
{% if not locked %}
    {% if activity_lock %}
        <h2>You can not start peer review until after {{activity_lock.effective_date}}.</h2>
    {% else %}
        <h2>Peer review is not available at this time; go for a coffee and try again later, cowboy.</h2>
    {% endif %}
{% else %}
    {% if activity_lock %}
        {% if reviewer_components %}
            {% for review in reviewer_components %}
                <div class="review">
                    <div class="identifier">{{ review.identifier }}</div>
                    <button class="review_button" value="{{ review.slug }}">Review</button>
                </div>
            {% endfor %}
        {% endif %}
    {% else %}
        <h2>Peer review is not available at this time; go for a coffee and try again later, cowboy.</h2>
    {% endif %}

    {% if reviewee_components %}
    <h2>Other people's comments on your work thus far</h2>
    {% for review in reviewee_components %}
        {% if review.feedback %}
        <div class="review">
            {{review.feedback}}
        </div>
        {% endif %}
    {% endfor %}
    {% endif %}
{% endif %}
{% endblock %}
