{% extends "base.html" %}
{% block title %}{{ course.subject }} {{ course.number }} Discussion{% endblock %}
{% block headextra %}
<link rel="stylesheet" href="{{STATIC_URL}}style/forum.css" media="all" />
<script nonce="{{ CSP_NONCE }}">
	$(document).ready(function() {
		$('.discussion-thread-title').hover(function() {
			$(this).parent().addClass('discussion-highlight');
		}, function() {
			$(this).parent().removeClass('discussion-highlight');
		});
	}); 
</script>
{% endblock %}
{% block h1 %}{{ course.subject }} {{ course.number }} Discussion{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url "offering:course_info" course_slug=course.slug %}">{{ course.name }}</a></li>
<li>Discussion</li>
{% endblock %}

{% block actions %}
<div id="actions">
	<h2 class="heading">Actions</h2>
	<ul>
		<li><a href="{% url "offering:forum:create_thread" course_slug=course.slug %}">Create New Thread</a></li>
	</ul>
</div>
{% endblock %}

{% block content %}
{% if threads.object_list|length_is:0 %}
<p class="empty">There are currently no threads</p>
{% endif %}
{% if threads.object_list|length > 0 %}
{% include 'forum/pagination.html' with paginator=paginator page=page %}
{% for thread in threads.object_list %}
{% if thread.status != 'HID' or view == 'staff' %}
<div class="discussion-thread{% if thread.status == 'HID' %} fade-out{% endif %}" id="thread-{{ thread.pk }}">
	<h3><a href="{% url "offering:forum:view_thread" course_slug=course.slug thread_slug=thread.slug %}">
		{% if thread.status == 'ANS' %}<i class="fa fa-check" title="Answered"></i>{% endif %}
		{{ thread.title }}
	</a></h3>
	<div>
		<span class="author">{{ thread.author.person.name }} ({{thread.author.person.userid}})</span>
		<span class="last">
			{% if thread.reply_count == 0 %}
				Created: {{ thread.last_activity_at_delta }}
			{% endif %}
			{% if thread.reply_count > 0 %}
			    Last Reply: {{ thread.last_activity_at_delta }}
			{% endif %}
		</span>
	</div>
</div>
{% endif %}
{% endfor %}
{% include 'forum/pagination.html' with paginator=paginator page=page %}
{% endif %}
{% endblock %}

