{% extends "base.html" %}
{% load form_display %}
{% block title %}Configure Activity Lock{% endblock %}
{% block h1 %}Configure Activity Lock{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url grades.views.course_info course_slug=course.slug %}">&gt; {{course.name}}</a></li>
<li><a href="{% url grades.views.activity_info course_slug=course.slug activity_slug=activity.slug %}">&gt; {{activity.name}}</a></li>
<li>&gt;Activity Lock</li>
{% endblock %}

{%block content%}
<legend>
  This Activity 
  <a href="{% url submissionlock.views.staff_edit_activity_lock course_slug=course.slug activity_slug=activity.slug %}">
  {% ifequal activity_lock_status "Lock Pending" %}
    will be locked on {{activity_lock.effective_date}}
  {% else %}
    is {{activity_lock_status}}
  {% endifequal %}
  </a>
  <div style="color:black;font-size:0.8em">Note: Edit activity lock will remove all student specific submission locks</div>
</legend>
<div class="datatable_container">
  <table id="submission_lock_table" class="display">
    <h2>
      Student Submission Lock Status
    </h2>
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">User ID</th>
        <th scope="col">Stu #</th>
        <th scope="col">Effective Date</th>
        <th scope="col">Lock Status</th>
      </tr>
    </thead>
    <tbody>
      {%for student in students%}
        <tr>
          <td>{{student.name}}</td>
          <td>{{student.userid}}</td>
          <td>{{student.emplid}}</td>
          <td>{{student.lock_date}}</td>
          <td><a href="{% url submissionlock.views.staff_edit_submission_lock course_slug=course.slug activity_slug=activity.slug userid=student.userid %}">{{student.lock_status}}</a></td>
        </tr>
      {%endfor%}
    </tbody>
  </table>
</div>

{%endblock content%}