{% extends "base.html" %}
{% load form_display %}
{% block title %}Submission Locks{% endblock %}
{% block h1 %}View All Submission Locks{% endblock %}

{% block subbreadcrumbs %}
<li><a href="{% url grades.views.course_info course_slug=course.slug %}">&gt; {{course.name}}</a></li>
<li><a href="{% url grades.views.activity_info course_slug=course.slug activity_slug=activity.slug %}">&gt; {{activity.name}}</a></li>
<li>&gt; Submission Locks</li>
{% endblock %}

{%block content%}
<div class="datatable_container">
<table id="notes" class="display">
  <thead>
  </thead>
  <tbody>
    <div class="form_container">
        <form action="{% url submissionlock.views.submission_lock course_slug=course.slug activity_slug=activity.slug %}" enctype="multipart/form-data" method="post">{% csrf_token %}
            <fieldset>
            <legend>Statuses</legend>
            {{ form|as_dl }}
            <p><input type="submit" class="submit" value="Apply Changes" /></p>
            </fieldset>
        </form>
    </div>
  </tbody>
</table>
</div>

{%endblock content%}